.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);

  transition: all 0.2s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  background-color: #b9ecec;
}
